.ReactTable.data-grid {
    .rt-noData {
        transform: translate(-50%,-25%);
        background: none;
    }

    .-loading > div {
        top: 20%;
    }

    .-loading-inner {
        .grid-spinner {
            color: rgba(0, 0, 0, .5)
        }
    }
}
